<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lt.vu.mybatis.dao.AuthorMapper">
    <resultMap id="BaseResultMap" type="lt.vu.mybatis.model.Author">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="FULLNAME" jdbcType="VARCHAR" property="fullname"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from PUBLIC.AUTHOR
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="lt.vu.mybatis.model.Author"
            useGeneratedKeys="true">
        insert into PUBLIC.AUTHOR (DESCRIPTION, FULLNAME)
        values (#{description,jdbcType=VARCHAR}, #{fullname,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="lt.vu.mybatis.model.Author">
        update PUBLIC.AUTHOR
        set DESCRIPTION = #{description,jdbcType=VARCHAR},
            FULLNAME    = #{fullname,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select ID, DESCRIPTION, FULLNAME
        from PUBLIC.AUTHOR
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select ID, DESCRIPTION, FULLNAME
        from PUBLIC.AUTHOR
    </select>
</mapper>